#banner-container {
    text-align: left;
    color: white !important;
    background-color: #762121 !important;
    padding: 16px;
    width: 100%;
    background-color: rgb(235, 236, 237);
    position: relative;
}

.point-red-new {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }