#banner-container {
    text-align: left;
    color: white !important;
    background-color: #762121 !important;
    padding: 16px;
    width: 100%;
    background-color: rgb(235, 236, 237);
    position: relative;
}

.point-red-new {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }

.btn-submit {
    background-color: crimson !important;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.075);
    color: white;
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
}

#check-button {
    background-color: rgb(20, 143, 220) !important;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.075);
    color: white;
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
}

#build-form {
    color: rgb(50, 50, 50);
    padding: 55px;
    padding-top: 25px;
    padding-bottom: 20px;
    border: solid;
    border-color: crimson;
}

a {
    color: crimson;
    text-decoration: none;
}