#banner-container {
    text-align: left;
    color: white !important;
    background-color: #762121 !important;
    padding: 16px;
    width: 100%;
    background-color: rgb(235, 236, 237);
    position: relative;
}

.point-red-new {
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
  }

.btn-submit {
    background-color: darkred !important;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.075);
    color: white;
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 4px;
}